body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  canvas {
    background: #222;
    display: block;
    box-shadow: 0 0 20px #fff;
  }
  
  #restartBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: none;
  }
  
  #restartBtn:hover {
    background: #ccc;
  }